<!DOCTYPE html>
<html>
<head>
	<title>Contactanos</title>
	<meta charset="utf-8">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<style type="text/css">
		.jumbotron {
		 	margin: 30px;
		}
	</style>
	<style>
body {
    background-color: white;
}

h2 {
    color: black;
    text-align: center;
}
h1 {
    color: red;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
</style>
</head>

{% include 'appT1/menu.html' %}

<body>
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <h1 class="text-uppercase mb-0">Creación de un nuevo proveedor</h1>
    </div>
</header>

<section id="agregar">
    <div class="container">

        <form method="POST" action="/crear_proveedor"> {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputTexto">Nombre del proveedor</label>
                <input type="text" class="form-control" id="exampleText" placeholder="Ingrese texto" name="nombre_proveedor">
            </div>

            <div class="form-group">
                <label for="exampleInputTexto">Nombre del contacto</label>
                <input type="text" class="form-control" id="exampleText" placeholder="Ingrese texto" name="nombre_contacto">
            </div>

            <div class="form-group">
                <label for="exampleInputTexto">Correo</label>
                <input type="text" class="form-control" id="exampleText" placeholder="Ingrese texto" name="correo">
            </div>
            
            <div class="form-group">
            <div class="row">
                <label for="exampleNumber">Numero</label>
                <input type="number" class="form-control" id="exampleNumber" placeholder="Ingrese numero" name="numero">
            </div>
            </div>

            <div class="form-group">
                <label for="exampleInputTexto">Rut</label>
                <input type="text" class="form-control" id="exampleText" placeholder="Ingrese texto" name="rut">
            </div>

            
        
        </div>
        <input type="submit">
        </form>
    </div>
</section>


</body>
</html>